__pycache__
.DS_Store
*~
*.swp
*.db 
.coverage
.env
.pytest_cache
.mypy_cache
htmlcov
doc/html
classes_Atomic.md
classes_Atomic.mmd
packages_Atomic.mmd
dist/
models/
build/
dist/
*.spec
.vscode/
default-output.txt
*.egg-info/
*.egg
report.html
